
<div class="about text-center  p-5">
    <div class="container">
        <h2 class="fs-1 fw-bolder">¿Quienes somos?</h2>
        <p>Mi Univesidad Virtual es la Plataforma de aprendizaje colaborativo más grande del mundo hispano.  Con miles de videocursos y millones de alumnos, puedes utilizar Tutellus de 3 formas;</p>
    </div>
</div>

<div class="features">

    <div class="features__wrapper d-flex text-center p-5 gap-4 flex-wrap flex-sm-nowrap">
        <div class="features__feature d-flex gap-3 flex-column justify-content-center">
            <div class="feature__image">
                <img src="assets/features/lecture.svg">
            </div>
            <h3 class="feautres__title h1">Aprende</h3>
            <p class="feautres__description"> Como alumno, siempre encontrarás algo nuevo para aprender entre los miles de videocursos</p>
        </div>
        <div class="features__feature d-flex gap-3 flex-column justify-content-center">
            <div class="feature__image">
                <img src="assets/features/multimedia.svg">
            </div>
            <h3 class="feautres__title h1">Enseña</h3>
            <p class="feautres__description"> Demuestra tus dotes docentes y saca partido a tus conocimientos convirtiéndote en profesor</p>
        </div>
        <div class="features__feature d-flex gap-3 flex-column justify-content-center">
            <div class="feature__image">
                <img src="assets/features/viral.svg">
            </div>
            <h3 class="feautres__title h1">Promueve</h3>
            <p class="feautres__description"> Comparte los cursos de otros usuarios y empieza a ganar dinero como afiliado. ¡Así de fácil!</p>
        </div>
    </div>

    <div class="features__info p-5">
        <div class="container">
            <h3 class="fs-1">Mejora tu Carrera profesional</h3>
            <p class="fw-light"> Además de cursos, con la Suscripción podrás apuntarte a tantas Carreras como quieras por una tarifa plana. Tienes más de 30 Carreras donde elegir, con rutas formativas y Tutor.</p>
            <a class="btn btn-lg fw-lighter" routerLink="/courses">¡Empezar ahora!</a>
        </div>
    </div>
</div>
