<div class="container p-5 bg-light my-5 rounded">
    <div class="cards d-flex flex-wrap gap-3 justify-content-evenly">
            <div class="card" style="width: 34rem;" *ngFor="let post of posts">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body p-3">
                <h5 class="card-title fs-4">{{post.title}}</h5>
                <p class="card-text fs-5 fw-light">{{post.body}}</p>
            </div>
            <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul> -->
            <div class="card-body">
                <a routerLink="/cart" class="card-link">Buy</a>
                <a routerLink="/cart" class="card-link">Add to cart</a>
            </div>
        </div>
    </div>
</div>